.containers {
    padding: unset;
    font-family: 'Arimo';
}

.profiles {
    background-image: url('../public/images/bg.png');
}

.content {
    font-family: 'Arimo';
    font-size: 5rem;
}

.contents {
    font-family: 'Arimo';
    font-size: 1rem;
}

.filter {
    width: 100%;
}

.button {
    background-color: #CF9C1F;
}

.button:hover {
    background-color: #9D896C;
}

.carousels {
    font-size: 8rem;
}

.buttons {
    background-color: #D0C8BA;
    color: black;
}

.text {
    font-size: 1.5rem;
    font-family: 'Arimo';
}
.pagesLink {
    display: flex;
    width: 500px;
    margin: 0 auto;
    list-style: none;
    color: blue;
}

.pagesLink a{
    padding: 12px;
    text-decoration: none;
    border: 0.3px solid rgba(0,0,0,0.1);
    color: blue;
}

.activePageLink {
    color: black;
    font-weight: bold;
}